<%- include('partials/header') %>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">O'Fig</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookmarks">Favoris</a>
          </li>
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-ofig my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <%- include('partials/leftMenu') %>

      <div class="col-lg-9">

        <div class="row">
      <% if (locals.category && locals.category.length > 0) { %>

        <% for(const figurine of category) { %>
 
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article/<%= figurine.id %>">
                <img class="card-img-top" src="/images/<%= figurine.name.toLowerCase() %>.png" alt="">
                <div class="badge-category badge badge-pill badge-gentil"><%= figurine.category %></div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article/<%= figurine.id %>"><%= figurine.name %></a>
                </h4>
                <h5><%= figurine.price %>€</h5>
                <p class="card-text"><%= figurine.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks/add/<%= figurine.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <% } %>
          <% } %>
        </div>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->